# =========================
# Archivos temporales
# =========================

docs/hojas-de-ruta/*

# =========================
# firmware
# =========================

**/.vscode
**/.pio
**/secrets.h